.Ai\(c\) {
  align-items: center;
}
.Bg\(\#000\) {
  background: #000;
}
.Bg\(\#333\) {
  background: #333;
}
.Bg\(\#84c0a0\) {
  background: #84c0a0;
}
.C\(\#f6cdc8\) {
  color: #f6cdc8;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(f\) {
  display: flex;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Fz\(14px\) {
  font-size: 14px;
}
.Fz\(20px\) {
  font-size: 20px;
}
.H\(100vh\) {
  height: 100vh;
}
.H\(21px\) {
  height: 21px;
}
.H\(3px\) {
  height: 3px;
}
.Lh\(140\%\) {
  line-height: 140%;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mb\(80px\) {
  margin-bottom: 80px;
}
.Maw\(415px\) {
  max-width: 415px;
}
.Maw\(500px\) {
  max-width: 500px;
}
.T\(0\) {
  top: 0;
}
.End\(0\) {
  right: 0;
}
.Op\(0\) {
  opacity: 0;
}
.Pt\(20px\) {
  padding-top: 20px;
}
.Pt\(50px\) {
  padding-top: 50px;
}
.Pb\(20px\) {
  padding-bottom: 20px;
}
.Pb\(30px\) {
  padding-bottom: 30px;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.V\(h\) {
  visibility: hidden;
}
.W\(100\%\) {
  width: 100%;
}
.W\(24px\) {
  width: 24px;
}
.Z\(51\) {
  z-index: 51;
}
